/* 
    General Styles
*/

.logo {
    width: 100px;
    height: 100px;
    margin-left: 40px;
}

.favoritos{
    margin-right: 50px;
}

.body_total {
    background-image: url("https://st4.depositphotos.com/18803028/29828/i/600/depositphotos_298282426-stock-photo-2d-illustration-deep-vast-space.jpg");
    padding-right: 30px;
    padding-left: 30px;
}


.central {
    display: flex;
    align-items: center;
    align-content: center;
}

.like {
    margin-left: 90px;
    border-radius: 5px;
    background: none;
}

.dropdown-menu {
    background-color: #ffc107a3;
}

.btn_back_home {
    margin-top: 20px;
    background: none;
    border-radius: 5px;
}

.title_character_detail {
    color: white;
}
